

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-image: url(../imagenes/fondoindumentaria.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.img-fluid {
    max-width: 100%;
    height: auto;
    background-position: center;
}


#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
.carousel-inner {
max-height: 40rem ;
}
.display-6 {
    font-weight: bolder;
    -webkit-text-stroke: 1.5px rgb(47, 188, 216);
}


@media (max-width:768px){
    #intro, #equipo {
        width: 90% !important;
    }
    #equipo p {
        display: none;
    }
    .servicio-fila {
       width: 100% !important; 
       text-align: center;
    }
}
 
@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}