

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background: url(./imagenes/ropa\ 10.jpg);

}

#menu li > a {
    font-size: 18px;
    font-weight: bold;
    color: #3f3f3f;
}
.carousel-inner {
    max-height: 40rem ;
    color: transparent;
    font-size: 40px;
    -webkit-text-stroke: 1px black;
font-size: 50px;
}

.carousel-inner h5 {
font-size: 60px;
}





@media (max-width:768px){
    #intro, #equipo {
        width: 90% !important;
    }
    #equipo p {
        display: none;
    }
    .servicio-fila {
       width: 100% !important; 
       text-align: center;
    }
}
 
@media (max-width: 576px) {
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}